html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
}


.hero {
    width: 100vw;
    height: 100vh;

    background-color: #000; 
    background-image: url("../img/grafikaSG.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;

    transition: background-image 0.25s ease-in-out;
}



.hero:has(.losuj-button:hover) {
    background-image: url("../img/grafikaSG2.png");
}



.losuj-button {
    width: 360px;
    height: 110px;

    background: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
}



.losuj-button:hover {
    transform: translateX(-50%) scale(1.05);
}
